*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    transition: all 6s linear;
    scroll-behavior: smooth;

    &::-webkit-scrollbar{
        width: 15px;
    }
    &::-webkit-scrollbar-track{
        background: transparent;
    }
    &::-webkit-scrollbar-thumb{
        background: rgb(83, 8, 37);
    }
}
// Pre-Loader Start
.loader_bg{
    position: fixed;
    z-index: 999999;
    background: rgb(7, 7, 7);
    width: 100%;
    height: 100%;
  }
  .loader{
    border: 0 soild transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
  }
  .loader:before, .loader:after{
    content: '';
    border: 1em solid #4d0808;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
  }
  .loader:before{
    animation-delay: .5s;
  }
  @keyframes loader{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
  }
// Pre-Loader End

.login {
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #ffffff;
    position: absolute;
    right: -100px;
    
}

// NavBar Strat
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
}

@media (max-width: 991.98px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

@media (max-width: 1200px) {
    .navbar-light .navbar-nav .nav-link  {
        margin-left: -20px;
        padding: 10px 10px;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: #888;
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

// NavBar End

// Banner Strat
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// Banner End

// Banner Container-1 Start
.text{
    font-size: 28px;
    color: rgb(133, 7, 18);;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.para{
    text-align: center;
}
.container-2{
    background-color: rgb(240, 236, 236);
    border-radius: 20px;
}
.read{
    padding: 0 90px;
    font-size: 20px;
    text-decoration: none;
    
}
// Banner Container-1 End

// About Strat
.wrapper-4{
    margin-top: 6%;
}
.left-1 img{
    height: 75vh;
    width: 110%;
}
.about-text{
    margin: 15px 0;
    color: rgba(228, 20, 20, 0.918);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.about-banner{
    text-decoration: none;
    font-size: 35px;
    text-transform: capitalize;
    color:#000;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    span{
        color: rgba(228, 20, 20, 0.918);
        font-size: 50px;
        font-weight: 600;
    }
}
.about-para{
    font-size: 18px;
}
.about-btn{
    font-size: 30px;
    padding: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    background-color:rgba(228, 20, 20, 0.918);
    color: #fff;
}
// About End

//  Counting Strat 
.fact {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url("images/carousel-bg-1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
// Counting End

// Footer Start
.footer {
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url(../img/carousel-bg-1.jpg) center center no-repeat;
    background-size: cover;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid #FFFFFF;
    border-radius: 35px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #FFFFFF;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}
// Footer End